@import '../../vendor/filament/forms/dist/module.esm.css';

@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light.css';

@multiple-tailwind ../../tailwind.admin.config.js;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
    }

    :root.dark {
        color-scheme: dark;
    }

    [dir='rtl'] select {
        background-position: left 0.5rem center !important;
        padding-left: 2.5rem;
        padding-right: 0.75rem;
    }
}

::-moz-selection {
    @apply bg-secondary-dark;
    @apply text-white;
}

::selection {
    @apply bg-secondary-dark;
    @apply text-white;
}

html::-webkit-scrollbar {
    width: 8px;
}

html {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.secondary.dark') theme('colors.primary.dark');
}

html::-webkit-scrollbar-track {
    @apply bg-primary-dark;
}

html::-webkit-scrollbar-thumb {
    @apply bg-secondary-dark;
}

.focus\:ring-offset-primary-700 {
    @apply ring-offset-0 !important;
}

.filament-forms-text-input-component input,
button.bg-white,
.choices__inner,
.filament-forms-tags-input-component > div,
.filament-forms-tags-input-component input,
.filament-forms-markdown-editor-component textarea,
.filament-tables-search-input input,
.tiptap-content,
.tiptap-content > .ProseMirror {
    @apply bg-primary-dark !important;
    @apply border-primary-accent !important;
    @apply focus-within:border-secondary-light !important;
}

.tiptap-content, .tiptap-content > .ProseMirror {
    @apply overflow-x-hidden !important;
}

.tiptap-editor, .tiptap-toolbar {
    @apply border-primary-accent !important;
    @apply divide-primary-accent !important;
}

.group-focus-within\:text-primary-500 {
    @apply group-focus-within:text-secondary-light !important
}

input[type="number"], select {
    @apply text-white !important;
    @apply bg-primary-dark !important;
    @apply border-primary-accent !important;
}

.choices__list--dropdown, .choices__input, .choices__input--cloned, .choices__list--dropdown input, .choices__list--dropdown .choices__input {
    @apply bg-primary-dark !important;
    @apply border-primary-accent !important;
}

.choices__list--dropdown {
    @apply shadow-md !important;
}

.filament-forms-markdown-editor-component > div > .bg-white {
    @apply bg-primary-dark !important;
    @apply border-primary-accent !important
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    @apply bg-secondary-light !important;
}

.is-focused .choices__inner,
.is-open .choices__inner {
    @apply ring-0 !important;
    @apply border-secondary-light !important;
}

.focus-within\:ring-1 {
    @apply focus-within:ring-0 !important;
}

.prose {
    @apply text-neutral-400;
    @apply border-0 !important;
    @apply bg-primary-dark !important;
}

.text-gray-700 {
    @apply text-neutral-400 !important;
}

.text-gray-800 {
    @apply text-neutral-500 !important;
}

.focus\:ring, .focus\:ring-2, .focus\:ring-1 {
    @apply ring-0 !important;
}

.bg-primary-500\/10 {
    @apply bg-primary-dark/10 !important;
}

.focus\:bg-primary-500\/10:focus {
    @apply focus:bg-secondary-light/10 !important;
}

.focus\:ring-offset-2:focus {
    @apply ring-offset-0 !important;
}

.bg-white {
    @apply bg-primary-default !important;
}

.bg-primary-50 {
    @apply bg-primary-dark !important;
}

.bg-gray-50 {
    @apply bg-primary-light !important;
}

.bg-primary-500, .bg-primary-600 {
    @apply bg-secondary-light !important;
}

.text-primary-500, .text-primary-600 {
    @apply text-secondary-light !important;
}

.focus\:border-primary-600 {
    @apply focus:border-secondary-light !important;
}

.hover\:bg-primary-600 {
    @apply hover:bg-secondary-light !important
}

.hover\:bg-primary-500, .bg-primary-600.hover\:bg-primary-500 {
    @apply hover:bg-secondary-dark !important;
}

.hover\:text-primary-500 {
    @apply hover:text-secondary-dark !important;
}

.hover\:bg-primary-500.focus\:bg-primary-700 {
    @apply focus:bg-secondary-light !important;
}

.focus\:bg-primary-700 {
    @apply focus:bg-secondary-dark !important
}

.hover\:bg-gray-50 {
    @apply hover:bg-primary-accent !important;
}

.filament, .filament-body, .filepond--root {
    font-family: Barlow, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.filepond--drop-label {
    @apply bg-primary-dark !important;
    @apply border-primary-accent !important;
    @apply text-neutral-400 !important;
}

.filament, .filament-body {
    @apply bg-primary-dark !important;
    @apply text-white !important;
}

.filament-sidebar-header, .filament-main-topbar {
    @apply border-primary-accent !important;
}

.filament-sidebar {
    @apply bg-primary-default !important;
    @apply border-primary-accent !important;
}

.filament-sidebar-item a {
    @apply hover:bg-primary-accent !important;
}

.filament-sidebar-item a.bg-primary-500 {
    @apply hover:bg-secondary-dark !important;
    @apply focus:bg-secondary-light !important;
}

.filament-widget > div {
    @apply bg-primary-default !important;
}

.filament-tables-pagination-records-per-page-selector > select {
    @apply bg-primary-dark !important;
    @apply text-white !important;
    @apply h-10 !important;
}

.filament-sidebar-open-button {
    @apply hover:bg-primary-accent/10 !important;
    @apply focus:bg-secondary-light/10 !important;
    @apply lg:hidden !important;
}

.filament-tables-container, .filament-tables-container > .border-t {
    @apply border-primary-accent !important;
}

.filament-tables-table, .filament-tables-table tbody.divide-y {
    @apply divide-primary-accent !important;
}

.filament-tables-header-cell button {
    @apply text-neutral-400 !important;
    @apply font-medium !important;
}

.filament-page-button-action.bg-white {
    @apply border-primary-accent !important;
    @apply bg-primary-accent !important;
    @apply text-white !important;
    @apply hover:bg-secondary-light !important;
    @apply focus:bg-secondary-dark !important;
}

.filament-sidebar-nav li > .border-t {
    @apply border-primary-accent !important;
}

.filament-hr {
    @apply border-primary-accent !important;
}

.filament-modal-subheading {
    @apply text-neutral-400 !important;
}

.filament-tables-modal-button-action.bg-white {
    @apply focus:bg-primary-default !important;
    @apply hover:text-white !important;
    @apply focus:text-white !important;
}

.filament-notification .bg-white\/50 {
    @apply bg-white !important;
}

.filament-forms-card-component {
    @apply border-primary-accent !important;
}

.filament-forms-date-time-picker-component .bg-primary-200 {
    @apply bg-secondary-light !important;
    @apply text-white !important;
}

.filament-tables-row {
    @apply hover:bg-primary-accent !important;
}

button.text-primary-700 {
    @apply bg-primary-accent/50 !important;
    @apply text-secondary-light !important;
}

.filament-tables-pagination-item {
    @apply ring-secondary-light !important;
}

button.hover\:text-gray-800 {
    @apply hover:text-secondary-dark !important;
}

button.focus\:text-primary-600 {
    @apply focus:text-secondary-light !important;
}

.filament-sidebar-group > button p, .filament-sidebar-group > button svg {
    @apply text-neutral-500 !important;
}

.filament-tables-button-action.bg-white {
    @apply text-white !important;
}

.filament-page-button-action.bg-white {
    @apply focus:text-white !important;
}

.filament-stats-overview-widget > div {
    @apply bg-transparent !important;
}

canvas span.text-danger-50 {
    @apply text-secondary-dark/40 !important;
}

canvas span.text-success-50 {
    @apply text-green-600/40 !important;
}

canvas span.text-gray-50 {
    @apply text-primary-dark/40 !important;
}

a.filament-stats-card {
    @apply transition !important;
    @apply duration-150 !important;
    @apply hover:bg-secondary-light !important;
    @apply focus:bg-secondary-dark !important;
}

a.filament-stats-card .text-gray-500, a.filament-stats-card .text-gray-600 {
    @apply transition !important;
    @apply duration-150 !important;
}

a.filament-stats-card:hover .text-gray-500,
a.filament-stats-card:hover .text-gray-600,
a.filament-stats-card:focus .text-gray-500,
a.filament-stats-card:focus .text-gray-600 {
    @apply text-white !important;
}

.filament-page .filament-resources-view-record-page .filament-forms-component-container .filament-forms-component-container > div {
    @apply w-full !important;
    @apply flex !important;
    @apply items-center !important;
}

.filament-forms-text-input-component .absolute .bg-white\/50 {
    @apply bg-primary-dark !important;
}

.choices[data-type="select-multiple"] .choices__inner > input {
    @apply border-0 !important;
}

.choices__list--multiple .choices__item {
    @apply text-secondary-light !important;
}
